/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
}
.bg-image{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.logo{
    width: 20%;
}

/* First Section */

.main-heading h1{
    text-align: center;
    line-height: 1.5;
    padding-top: 10vh;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}
.main-heading p{
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

/* Tools Section */
.tools{
    color: white;
}
